:root{
    --coloPrimario: #002A32;
    --colorSecundario: #040a24;
    --naranja: rgb(224, 187, 119);
    --blanco: #FFF;
    --negro: #111111;
    --gris: #343A40;

    --fuentePrincipal: 'Krub', sans-serif;
}
html{
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after{
    box-sizing: inherit;
}

body{
    font-family: var(--fuentePrincipal);
    font-size: 1.6rem;
    line-height: 1.8;
}
h1,h2,h2{
    font-weight: 900;
    line-height: 1.2;
    margin: 1rem 0 4rem 0;
}
h1{
    font-size: 4.8rem;
}
h2{
    font-size: 5.8rem;
}
h3{
    font-size: 5rem;
}  
a{
    text-decoration: none;
} 
img{
    max-width: 100%;
    display: block;
}
.btn{
    width: 100%;
    color: var(--gris);
    background-color: var(--blanco);
    border: 1px solid var(--gris);
    padding: .5rem 2rem;
    transition: background-color .3s;
}
.btn:hover{
    background-color: var(--gris);
    color: var(--blanco);
}
.contenedor{
    max-width: 120rem;
    margin: 0 auto;
    width: 90%;
}

/** Utilidades **/
.text-center{
    text-align: center;
}
.mt-5{
    margin-top: 5rem;
}

/** Degradados **/
.degradado{
    color: transparent;
    background: linear-gradient(to right, var(--naranja) 0%, var(--coloPrimario) 100%);
    -webkit-background-clip: text;
    background-clip: text;
}

/** Header **/
.header{
    min-height: 60rem;
    background-image: url(../img/imagen-header.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 5rem 0;
}